config backhaul 'easymesh'
	option ssid 'easymesh-backhaul'
	option hidden '1'
	option band '5g'
	option authentication 'psk2'
	option key 'secretbackhaulkey'
	list ciphers 'ccmp'

config fronthaul 'home_net_5g'
	option ssid 'home-net-5g'
	option band '5g'
	option authentication 'sae'
	option key 'supersecure123'
	list ciphers 'ccmp'

config fronthaul 'home_net_5g_legacy'
	option ssid 'home-net-5g-legacy'
	option band '5g'
	option authentication 'psk2'
	option key 'lessecure456'
	list ciphers 'ccmp'

config fronthaul 'home_net'
	option ssid 'home-net'
	option band '2g'
	option authentication 'psk2'
	option key 'supersecure123'
	list ciphers 'ccmp'

config fronthaul 'guest'
	option ssid 'guest'
	option band '2g'
	option authentication 'open'

config fronthaul 'iot_devices'
	option ssid 'iot-devices'
	option band '2g'
	option authentication 'psk'
	option key 'iot123123'
	list ciphers 'tkip'
